{% extends 'base.html' %}

{% block content %}
<h2 class="page-title">Вход</h2>
<form method="POST" action="" class="form">
    {{ form.hidden_tag() }}
    {% for field in [form.username, form.password] %}
    <div class="form-group">
        {{ field.label(class="form-label") }}
        {{ field(class="form-input") }}
        {% if field.errors %}
        <span class="form-error">{{ field.errors[0] }}</span>
        {% endif %}
    </div>
    {% endfor %}
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% endblock %}